@media screen and (max-width: 425px) {
    * {
        box-sizing: border-box;
    }

    html, body {
        /* border: solid 2px red; */
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    header, main, footer {
        /* border: solid red 2px; */
        margin: 0px;
        width: 100%;
    }

    h1 {
        font-family: 'Bangers', cursive;
    }

    h2 {
        font-family: 'Signika', sans-serif;
    }

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

    .navbar {
        background-image: linear-gradient(-90deg, black, maroon, black);
        font-family: 'Signika', sans-serif;
        width: inherit;
    }

    nav .container {
        display: flex;
        justify-content: space-evenly;
    }

        nav .container a {
            font-size: 0.8rem;
            margin: 0px;
        }

    .container {
        width: 100%;
    }

    /* TABLE SYLES */
    .table {
        max-width: 425px;
    }

        .table span {
            font-weight: bold;
        }

        .table .table-data {
            width: 100%;
        }

            .table .table-data a {
                margin: 0.5rem;
            }

        .table .table-row {
            /* border: black solid 2px; */
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 1rem;
            padding: 1rem;
            margin: 1.25rem;
        }

        .table img {
            max-width: 100%;
            /* margin: 1rem; */
        }
}
